p{
        color:blue;
        width:"383";
        height:"365"
}

h2{
  color:blue;
}
    
.contenedor{
  background-image: url('https://i.pinimg.com/1200x/a4/69/b5/a469b53b1f0a1059850cdf5f484d498d.jpg');
  background-position: center center;
  background-repead: no-repeat;
  background-size: cover;
  height: 400px;
  color: #fff;
}